/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 1rem 2rem;
  z-index: 100;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #12d643;
}

/* Hamburger styles */
.hamburger {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
